Package: httptoircbridge
Version: 0.0.1-1
Section: utils
Priority: optional
Architecture: amd64
Depends:
Maintainer: Marek Ventur <mail@marekventur.de>
Description: HTTP-to-IRC bridge
 This is a simple IRC bot that exposes and HTTP endpoint for sending messages to
 channels and users.
